@charset "utf-8";
body,div,img{margin: 0; padding: 0;}
.wf-container{position: relative; margin: 0 auto; width: 1000px; visibility: hidden;}
.box{position: absolute; margin: 5px; width: 240px; 
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;}
.box .img-wrap{background-color: #fff; border: 1px solid #eee; padding: 10px; border-radius: 5px; box-shadow: 0 0 10px #999;}
.box .img-wrap img{width: 100%; font-size: 0;}
.box:hover{z-index: 1;
	-webkit-transform: scale(1.2,1.2);
	   -moz-transform: scale(1.2,1.2);
	    -ms-transform: scale(1.2,1.2);
	     -o-transform: scale(1.2,1.2);
	        transform: scale(1.2,1.2);}
.box:hover .img-wrap{box-shadow: 0 0 30px #999;}